<div id="projects">
	{{#each data}}
            {{#unless this.html}}
				<div class="repo-title">
					<b>{{{ this.title }}}</b>
					<form action="/update" method="post">
						<button name="repo" value="{{this.title}}">Update</button>
					</form>
				</div>
            {{else}}
				{{{ this.html }}}
            {{/unless}}
	{{/each}}
</div>